/* map positioning/style */
@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
    url('../fonts/liberationsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height:100%
}
body {
    padding: 0;
    margin: 0;
    background: #000;
}
.fixed-size {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0 !important;
    left: 0;
    background: #000;
}
.display-hide {
    display:none !important;
}
body > #map-wrapper {
    position: fixed;
    top: calc(50px + 1em);
    bottom: 0.1em;
    right: 0;
    left: 0;
    vertical-align: top;
}
#map, #system-map {
    height: 100%;
    width: 100%;
    float: left;
}
.fixed-size #map, .fixed-size #system-map {
    width: 1000px;
    height: 1000px;
}

/* leaflet overrides */
.leaflet-container {
    font: 12px/1.5 'liberation_sansregular', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}
.leaflet-container.leaflet-retina {
    font: 16px/1.8 'liberation_sansregular', sans-serif;
}
.leaflet-shadow-pane{
    z-index:400;
}
.leaflet-pathmarker-pane, .leaflet-overlay-pane, .leaflet-tooltip-pane {
    -webkit-animation: fade-in 0.5s ease-in both;
    animation: fade-in 0.5s ease-in both;
}

/* system markers */
.system-label, .hub-label {
    background: none;
    border: none;
    color: #fff;
    box-shadow: none;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    opacity: 1;
    transition: opacity 0.5s;
    /*margin-left:5px;*/
}
.system, .travel-path{
    opacity: 1;
    transition: opacity .2s;
}
.system-label::before, .hub-label::before, .tact-label::before, .arm-label::before{
    display: none;
}
.capital.capital-1 {
    width: 5px;
    height: 5px;
    background-size: 4px 4px;
    top:-2px;
    left:-2px;
    background: #ffffff; /* color of the circle */
    border-radius: 50%; /* make the div a circular shape */
    box-shadow:
        0 0 3px 3px #fff,  /* inner */
        0 0 5px 5px #f7ff00, /* middle */
        0 0 8px 8px #f7ef2f; /* outer */

}
.capital.capital-2 {
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    top:-6px;
    left:-6px;
    background: #ffffff; /* color of the circle */
    border-radius: 50%; /* make the div a circular shape */
    box-shadow:
        0 0 6px 6px #fff,  /* inner */
        0 0 10px 10px #f7ff00, /* middle */
        0 0 12px 12px #f7e900; /* outer */
}
.hub {
    background: #ffffff; /* color of the circle */
    border-radius: 50%; /* make the div a circular shape */
}
.hub-1{
    width: 2px;
    height: 2px;
    background-size: 2px 2px;
    top:-1px;
    left:-1px;
    box-shadow:
            0 0 2px 2px #fffa6e,  /* inner */
            0 0 3px 3px #fbff73, /* middle */
            0 0 4px 4px #f7ff00, /* outer */
            0 0 5px 5px #9e8a18; /* outer */
}
.hub-2{
    width: 8px;
    height: 8px;
    background-size: 8px 8px;
    top:-4px;
    left:-4px;
    box-shadow:
            0 0 3px 3px #f7ff00,  /* inner */
            0 0 5px 5px #fff, /* middle */
            0 0 7px 7px #f7ff00, /* outer */
            0 0 8px 8px #9e8a18; /* outer */
}
.hub-3{
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
    top:-6px;
    left:-6px;
    box-shadow:
            0 0 5px 5px #f7ff00,  /* inner */
            0 0 7px 7px #fff, /* middle */
            0 0 8px 8px #f7ff00, /* outer */
            0 0 9px 9px #cb8c0f; /* outer */
}

/* misc stuff to refactor */
.error-icon{
    color: #ff1300;
    background: #d7d7ce;
    border-radius: 50%;
}
.json-path {
    stroke: white;
    stroke-dasharray: 10,10;
    stroke-width: 5;
    stroke-opacity: 0.85;
}
#info-panel{
    width: 100%;
    height: 100px;
}

/* travel paths */
.normal-path{
    color: #fffc89;
    background: #0eae16;
    border-radius: 50%;
}
.path-arrow {
    background: url(../icon/path/path-arrow.png);
    width: 50px !important;
    height: 50px !important;
    margin-left:-25px !important;
    margin-top:-25px !important;
}
.path{
    stroke: #4a97d7;
    filter: drop-shadow( 5px 2px 5px #fff );
    stroke-width: 3;
    stroke-opacity: 1;
}
.transwarp, .borgtranswarp, .roguetranswarp, .arena{
    width: 18px;
    height: 18px;
    background: #000; /* color of the circle */
    border-radius: 50%; /* make the div a circular shape */
    background-size: 10px 10px;
    stroke: #4a97d7;
    stroke-dasharray: 20,10;
    stroke-width: 3;
    stroke-opacity: 0.85;
}
.borgtranswarp {
    stroke-dasharray: none !important;
}
.lock{
    width: 18px;
    height: 18px;
    background: #000; /* color of the circle */
    border-radius: 50%; /* make the div a circular shape */
    background-size: 10px 10px;
    stroke: #ff1207;
    stroke-dasharray: 10,10;
    stroke-width: 5;
    stroke-opacity: 0.85;
}

/* animation fade in/out */
.fade{
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
    /*opacity:0 !important;*/
}
.dim {
    opacity: 0.4 !important;
}
.fade-out {
    -webkit-animation: fade-out 0.5s ease-out both;
    animation: fade-out 0.5s ease-out both;
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* bottom up modal */
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

/* armada color styling */
.arm-label {
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 90%, rgba(0,0,0,0.5) 70%, rgba(255,255,255,0) 100%);
    border: none;
    color: #fff;
    font-size:14px;
    font-weight:600;
    box-shadow: none;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.4s;
}
.uncommon {
    color: #39D239;
}
.rare {
    color: #72DCEF;
}
.epic {
    color: #C475EC;
}

/* Control Layers Menu */
.leaflet-control-layers-group-name {
    font-weight: bold;
    margin-bottom: .2em;
    margin-left: 3px;
}
.leaflet-control-layers-group {
    margin-bottom: .5em;
}
.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    padding-right: 10px;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}
.tooltip .tooltiptext {
    visibility: hidden;
    min-width:90px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding-left: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Custom Popup,  System Popups */
.custom-popup .popup{
    height: 100%;
    border-radius: 8px;
}
.popup-ind {background: url("../img/ui/ind-sys-menu.jpg");}
.popup-fed {background: url("../img/ui/fed-sys-menu.jpg");}
.popup-rom {background: url("../img/ui/rom-sys-menu.jpg");}
.popup-kli {background: url("../img/ui/kli-sys-menu.jpg");}
.popup-aug {background: url("../img/ui/aug-sys-menu.jpg");}
.popup-swa {background: url("../img/ui/swa-sys-menu.jpg");}
.popup-rog {background: url("../img/ui/rog-sys-menu.jpg");}
.custom-popup .leaflet-popup-content-wrapper {
    position: absolute;
    top: -110px;
    left: 75px;
    width: 400px;
    height: 226px;
    background: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    box-shadow: none;
}
.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}
.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}
.leaflet-container a.leaflet-popup-close-button {
    right: -456px;
    top: -92px;
}
.custom-popup .leaflet-popup-tip {
    display: none;
}
#system-zone {
    font-size: 1em;
    margin-left: 80px;
    padding-top: 5px;
    text-shadow: 2px 2px #000;
}
#system-name {
    font-size: 1.4em;
    margin-left: 80px;
    margin-top: -7px;
    text-shadow: 2px 2px #000;
}
#system-id {
    font-size: 0.8em;
    margin-left: 78px;
    padding-left: 26px;
    text-shadow: 2px 2px #000;
    cursor: pointer;
}
#system-event {
    font-size: 0.9rem;
}
.system-detail-panel {
    margin-top: 15px;
    padding:5px;
    height: 132px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 75%, rgba(255,255,255,0) 100%);
    line-height: 1.5;
}
.system-detail-panel div:not('.tooltip') {
    width:100%;
    margin-left:5px;
    float:left;
    vertical-align: top;
}
.system-detail-panel div.half-size {
    width:48%;
    float:left;
}
.system-detail-panel img.icon {
    width: 24px;
    height: 24px;
    margin-bottom: -7px;
}
.system-detail-panel img.icon.rss {
    margin: -8px -6px;
    padding-left: 4px;
    width: 26px;
    height: 26px;
}
.system-detail-panel img.icon.armada {
    margin: -8px 0;
    width: 26px;
    height: 26px;
}

/* fancy searchbar */
button {
    text-align: center;
}
button.focus {
    outline: none;
}
button.btn-search, button.btn-reset {
    border: none;
    height: 30px;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    top: 0;
    width: 30px;
}
.tt-cursor, .tt-cursor:checked, .tt-suggestion:hover {
    color: #111;
    background: #ccc;
}
#search-tool {
    float: left;
    height: 50px;
    position: absolute;
    top: -73px;
    left: 40px;
}
#search-tool.focus {
    margin: 0;
}
#search-tool input {
    text-transform: capitalize;
    background-color: #fff !important;
    border: 1px solid #ccc;
    padding: 4px 8px;
    font-weight: 600;
    border-right: none;
    transition: all .3s ease-in;
    height: 30px;
}
#search-tool button#search-reset {
    opacity: 0;
}
#search-tool.focus button#search-submit {
    background: #297dfa;
    border-radius: 0 50% 50% 0;
    color: #fff;
    left: 100%;
}
#search-tool.focus button#search-reset {
    opacity: 1;
    animation: bounceRight .5s;
    animation-delay: .3s;
    animation-timing-function: cubic-bezier(0.3, 0.2, 1, 0.8);
    border-radius: 50%;
    color: #fff;
    left: 118%;
}
#search-tool button#search-submit {
    background: #ccc;
    transition: all .3s ease-in;
}
#search-tool button#search-reset {
    background: #f00;
    height: 30px;
    left: 0;
    top: 0;
    transition: all .3s ease-in;
    width: 30px;
    z-index: -1;
}
@keyframes bounceRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes jumpTowardSearch {
    0% {
        background: #ccc;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        background: #a3b8d7;
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        background: #7aa4e3;
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        background: #5190ee;
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        background: #297dfa;
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
@keyframes jumpTowardReset {
    0% {
        opacity: 0;
        transform: rotateZ(0deg) scale(1);
    }
    20% {
        opacity: 0;
        transform: rotateZ(-60deg) scale(50);
    }
    55% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(100);
    }
    90% {
        opacity: 0;
        transform: rotateZ(-30deg) scale(50);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0deg) scale(1);
    }
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
    display: none;
}
.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

